@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

:root {
  --BG: hsl(0, 0%, 7%);
  --Blur-BG: rgb(38, 38, 38);
  --Neutral-500: hsl(240, 3%, 46%);
  --Text-Color: hsl(240, 1%, 59%);
  --Header-Color: hsl(0, 0%, 100%);

  --Header-Btn: hsl(214, 100%, 55%);
  --Start-Btn: hsl(210, 100%, 65%);

  --Wrong-Text: hsl(354, 63%, 57%);

  --Correct-Text: hsl(140, 63%, 57%);

  --warning: hsl(49, 85%, 70%);
}

body {
  background: var(--BG);
  color: var(--Text-Color);
  padding: 1rem;
  min-height: 100vh;
  /* overflow-y: hidden; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-display {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.top-display p {
  margin: 0;
}

.settings-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.settings {
  border-bottom: 1px solid var(--Neutral-500);
  margin-bottom: 1.5rem;
}

span {
  color: var(--Header-Color);
  font-size: 0.8rem;
}

.score {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.score span {
  font-weight: bolder;
  font-size: 0.8rem;
}

.score p:not(:first-child) {
  border-left: 1px solid var(--Neutral-500);
  padding-left: 1rem;
}

.desktop {
  display: flex;
  gap: 1rem;
}

.setting-group {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.setting-group + .setting-group {
  border-left: 1px solid var(--Neutral-500);
  padding-left: 1rem;
}

.setting-group button {
  background: transparent;
  border: 1px solid var(--Neutral-500);
  padding: 0.5rem 0.7em;
  border-radius: 0.6rem;
  color: var(--Header-Color);
  cursor: pointer;
  outline: none;
  font-size: 0.85rem;
}

.setting-group p {
  font-size: 1rem;
}

.setting-group button.active {
  border: 2px solid var(--Header-Btn);
  color: var(--Header-Btn);
}

.setting-group button:active {
  outline: 2px solid var(--Header-Btn);
  color: var(--Header-Btn);
}

.mobile {
  display: none;
}

#test {
  position: relative;
  min-height: 400px;
}

#test .word {
  line-height: 1.5;

  border-bottom: 1px solid var(--Neutral-500);
  padding-bottom: 2rem;
}
#test .word span {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

#typing-input {
  position: fixed;
  left: -9999px;
  top: 0;
  opacity: 0;
}

.current {
  background-color: var(--Neutral-500);
  color: var(--Header-Color);
  width: 50px;
}

.button-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.restart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background: var(--Blur-BG);
  border: none;
  border-radius: 0.5rem;
  color: var(--Header-Color);
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  cursor: pointer;
}

.restart:active {
  background: var(--Text-Color);
}

.restart img {
  width: 10px;
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: rgba(18, 18, 18, 0.85); */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 10;
}

.overlay p {
  color: var(--Header-Color);
  margin-top: 1rem;
}

.overlay button {
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--Header-Btn);
  color: var(--Header-Color);
  cursor: pointer;
  font: inherit;
}

.overlay button:focus {
  outline: 1px solid var(--Start-Btn);
  outline-offset: 2px;
}

.overlay button:active {
  background-color: var(--Start-Btn);
}

#results {
  position: fixed;
  top: 80px; /* Start below the header */
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--BG);
  text-align: center;
  z-index: 1000;
}

#results .first-card {
  position: absolute;
  inset: 0;
}

.first-card h2 {
  color: var(--Header-Color);
  margin: 3rem 0 0.5rem;
  font-size: 1.5rem;
}

.first-card span,
.first-card p {
  font-size: 1.2rem;
}

.completed-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2% auto;

  background: #53d67b;

  box-shadow:
    0 0 0 15px rgba(83, 214, 123, 0.18),
    0 0 0 25px rgba(83, 214, 123, 0.08);
}

.completed-icon img {
  display: block;
  width: 50px;
}

.complete {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.complete-score {
  border: 1px solid var(--Neutral-500);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.complete-score span {
  font-weight: 800;
  padding-top: 0.7rem;
}

.first-card .best-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.first-card button {
  background-color: var(--Header-Color);
  color: var(--Blur-BG);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.first-card button:active,
.first-card button:hover {
  background-color: #696666;
}
.first-card button img {
  color: var(--Blur-BG);
  width: 20px;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

#high-score {
  position: relative;
}

#high-score::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 120px;
  background-image: url("./assets/images/pattern-confetti.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  pointer-events: none;
}

#high-score h2 {
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

.correct {
  color: var(--Correct-Text);
}

.incorrect {
  color: var(--Wrong-Text);
  text-decoration: underline;
  text-decoration-color: var(--Wrong-Text);
  text-decoration-style: solid;
  text-underline-offset: 8px;
}

.good {
  color: var(--Correct-Text);
}

.wrong {
  color: var(--Wrong-Text);
}

.warning {
  color: var(--warning);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 1rem;
}

@media screen and (orientation: landscape) {
  .settings-head {
    flex-direction: column;
  }
  .desktop {
    margin-top: 1rem;
  }

  #results .first-card h2 {
    margin-top: 1.5rem;
  }

  .complete {
    margin: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .desktop {
    display: none;
  }

  .header {
    margin-bottom: 1rem;
  }

  #test .word span {
    font-size: 1rem;
  }

  .mobile {
    display: block;
  }

  .settings-head {
    flex-direction: column;
  }

  .settings-head span {
    display: block;
    font-size: 1.5rem;
  }

  .settings-head .inline {
    display: inline;
  }

  .score {
    justify-content: space-around;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .score p:not(:first-child) {
    margin-left: -1rem;
  }

  .header-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
  }

  .timer,
  .level {
    width: 50%;
  }

  .dropdown {
    position: relative;
    width: 50%;
  }

  .dropdown-btn {
    font-size: 1rem;
    background: transparent;
    outline: none;
    color: var(--Header-Color);
    text-align: center;
    padding: 0.5rem 1.2rem;
    border: 1.5px solid var(--Neutral-500);
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    background-color: var(--Blur-BG);
    padding: 0.5rem;
    border-radius: 0.8rem;
    list-style: none;
    min-width: 100%;
    z-index: 100;
    color: var(--Text-Color);
  }

  .dropdown-menu.show {
    display: block;
  }

  .dropdown-menu li {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid var(--Neutral-500);
  }

  .overlay {
    justify-content: center;
    padding-bottom: 8rem;
    background: none;
  }

  #results {
    position: fixed;
    top: 50px;
  }

  .first-card h2 {
    margin-top: 1.5rem;
  }

  #results .first-card {
    margin-top: 50px;
  }

  #results .first-card p {
    font-size: 1.2rem;
    margin: auto;
    width: 90%;
    margin-bottom: 1rem;
  }

  .complete {
    flex-direction: column;
    margin: 1rem 0;
  }

  .complete-score {
    justify-content: start;
    text-align: start;
    font-size: small;
    width: 90%;
  }

  #results .first-card .complete-score p {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .complete-score p span {
    margin-top: 5rem;
    font-size: 1.2rem;
    font-weight: bolder;
  }

  .first-card button {
    font-size: 1rem;
  }

  .incorrect {
    text-underline-offset: 2px;
  }
}

@media screen and (max-width: 768px) {
  .settings-head {
    flex-direction: column;
  }
  .desktop {
    margin-top: 1rem;
  }
  .settings {
    margin: 1rem 0 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .settings-head {
    flex-direction: row;
  }
}
